.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    background-color:#E6896C;
    grid-gap: 2px;
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
    justify-content: end;
}

header {
    background-color: #E6B46C;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 1;
    text-align: center;
}

h1 {
    color: brown;
}

nav {
    background-color: #E69F6C;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2/2;
}

nav a{
    font-size: 20px;
}

nav a:hover {
    background-color: white;
}

article {
    display: flex;
    flex-wrap: wrap;
    background-color: #FAB06B;
    grid-column: 1/4;
    grid-row: 3/7;
    border: 2px dotted brown;
}

aside {
    background-color: #E6C26C;
    grid-row: 7/8;
    grid-column: 1/4;
}

footer {
    background-color: #E6CBB8;
    grid-column: 1/4;
    grid-row: 8/9;
}

a {
    text-decoration: none;
    color: brown;
}

p {
    color: brown;
    font-size: 25px;
    width: 99%;
    padding-left: 5px;
}

li {
    color: brown;
    padding-left: 10px;
    width: 100%;

}

.container {
    height: 200px;
    width: 200px;
    border: 2px solid brown;
    float: left;
    margin-left: 12px;
    margin-top: 50px;
    
}

img {
    width: 100%;
    height: 100%;
}
